html, body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#chat-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100%;
  overflow: hidden;
}

#chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.message-container {
  margin-bottom: 20px;
}

.message-header {
  font-style: italic;
  font-size: smaller;
  color: var(--vscode-editor-foreground);
}

.header-request {
  text-align: right;
  margin-right: 10px;
}

.header-response {
  text-align: left;
  margin-left: 10px;
}

.message-title {
  font-weight: bold;
}

.message-text {
  padding: 5px;
  font-size: small;
  border-radius: 8px;
  word-wrap: break-word;
  color: rgb(39, 39, 39);
}

.msg-request {
  background-color: #95c4a9;
  align-self: flex-start;
}

.msg-response {
  background-color: #a2c7e5;
  align-self: flex-end;
}

#input-container {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 10px;
}

#input {
  font-size: small;
  flex-grow: 1;
  border: 0;
  padding: 8px;
  margin-right: 10px;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 0;
}

#input:focus {
  outline-color: #3398DB;
}

#send {
  padding: 8px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

@keyframes loading {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

#loader .message-text::after {
  content: '...';
  animation: loading 1s infinite;
}

/* LOGING STYLE */

#chat-container {
  display: none;
}

#get-error {
  display: none;
}

#login {
  height: 100%;
  margin-left: 25px;
  margin-right: 25px;
  font-size: medium;
}

#login-button {
  padding: 10px;
  margin: 25px;
  cursor: pointer;
  background-color: rgb(43, 83, 156);
  color: #fff;
  font-size: medium;
  border: none;
  border-radius: 4px;
}

#login-info{
  font-style: italic;
  font-size: small;
}

/* CSS for rating stars */
.rating {
  float: left;
}

.rating input {
  display: none;
}

.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rating:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:16px;
  color:#ccc;
}
.rating:not(:checked) > label:before {
  content: '★ ';
}
.rating > input:checked ~ label {
  color: #ffc700;    
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

a {
  cursor: pointer;
}